<div class="container">
	<%= form_for @task, :remote => true, :format => :json do |f| %>
		<div class="control-group">
			<%= f.label :title %>
			<%= f.text_field :title , :class => 'form-control' %>
			<%= f.label :description %>
			<%= f.text_field :description , :class => 'form-control' %>
		</div>
	 <%= f.submit 'Add Task', :class => "btn btn-success"  %>
	<% end %>
</div>


<div class="container">
  <div id="tasks"></div>
</div>
